body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: #F9FAF8;
}

.section1 {
    background: #1F2937;
    padding-bottom: 100px;
}

.header, .header_links {
    display: flex;
}

.header {
    justify-content: space-between;
    margin: 0px 200px 0px 200px; /* top, right, bottom, left */
    font-size: 24px;
    align-items: center;
}

.header_links {
    gap: 20px;
}

.content {
    display: flex;
    margin: 100px 200px 0px 200px; /* top, right, bottom, left */
    justify-content: center;
    align-items: center;
}

#hero_text_main {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 10px;
}

#hero_secondary_text, .header_links {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 10px;
}

.text{
    padding-right: 40px;
}

button {
    border: none;
    text-align: center;
    background: #3882F6;
    color: #F9FAF8;
    border-radius: 4px;
    padding: 10px 30px;
}

#info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}
li {
    list-style-type: none;
}